@media screen and (max-width:520px) {
  .settings{
    top:7px;
    left: 10px;
  }

  .settings{
    width: auto;
  
  }


}
@media screen and (max-height:340px) {
  .wrapper{
    height: 100%;
  }

}

@media screen and (min-height:1280px) {
  .wrapper{
    width: 1500px;
  }

  .item{
    font-size:80px;
  }

  input{
    font-size: 100px;
  }
}

